<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gambino_serra.condomanager_amministratore.tesi">

    <uses-permission android:name="com.damico.gianluca.sei.kiuapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false"/>
    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false" />

    <application
        android:name="com.gambino_serra.condomanager_amministratore.condomanager_amministratore"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CondoManager Amministratore"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Login.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.NuovoSondaggio.SondaggioRating"
            android:label="Nuovo sondaggio di valutazione"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.NuovoSondaggio.SondaggioSceltaMultipla"
            android:label="Nuovo sondaggio a scelta multipla"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.NuovoSondaggio.SondaggioSceltaSingola"
            android:label="Nuovo sondaggio a scelta singola"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaFornitori.DettaglioFornitore"
            android:label="Fornitore"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaFornitori.AggiuntaFornitore.AggiungiFornitore"
            android:label="Aggiunta fornitore"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaFornitori.AggiuntaFornitore.MappaFornitori"
            android:label="Fornitori"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaStabili.MappaStabili"
            android:label="Stabili"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaFornitori.AggiuntaFornitore.SelezionaCategoria"
            android:label="Aggiunta fornitore"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.SezioneStabile"
            android:label="Stabile"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.DettaglioIntervento_old"
            android:label="Intervento"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Sondaggi.DettaglioSondaggioRating"
            android:label="Sondaggio di valutazione"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Sondaggi.DettaglioSondaggioSceltaMS"
            android:label="Sondaggio"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Messaggi.DettaglioMessaggio"
            android:label="Messaggio del condomino"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaStabili.DettaglioStabile"
            android:label="Stabile"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaNotifiche.AggionamentiTicket.AggiornamentiTicket"
            android:label="Notifiche ticket"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaNotifiche.AggiornamentiMessaggi.AggiornamentiMessaggi"
            android:label="Nuovi messaggi"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaNotifiche.AggiornamentiSondaggi.AggiornamentiSondaggi"
            android:label="Sondaggi in corso"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.NuovoTicketIntervento.SelezionaCategoriaIntervento"
            android:label="Nuovo ticket"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.NuovoTicketIntervento.CreaTicketFinale"
            android:label="Nuovo ticket"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.NuovoTicketIntervento.SelezionaFornitoreIntervento"
            android:label="Nuovo ticket"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.NuovoTicketIntervento.SelezionaCategoriaIntervento"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.Intervento.CambiaFornitoreIntervento.CategoriaCambiaFornitore"
            android:label="Reinvio ticket"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.Intervento.Intervento"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.Intervento.CambiaFornitoreIntervento.FornitoreCambiaFornitore"
            android:label="Reinvio ticket"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.Intervento.CambiaFornitoreIntervento.CategoriaCambiaFornitore"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.Intervento.CambiaFornitoreIntervento.TicketCambiaFornitore"
            android:label="Reinvio ticket"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.Intervento.CambiaFornitoreIntervento.FornitoreCambiaFornitore"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.SezioneStabile.Stabile_Interventi.Intervento.Intervento"
            android:label="Intervento"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaNotifiche.AggiornamentiMessaggi.DettaglioMessaggio"
            android:label="Messaggio da condomino"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaNotifiche.AggiornamentiSondaggi.DettaglioSondaggioRating"
            android:label="Statistiche sondaggio"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gambino_serra.condomanager_amministratore.View.Home.BachecaNotifiche.AggiornamentiSondaggi.DettaglioSondaggioSceltaMS"
            android:label="Statistiche sondaggio"
            android:parentActivityName="com.gambino_serra.condomanager_amministratore.View.DrawerMenu.MainDrawer"
            android:screenOrientation="portrait" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



        </application>

</manifest>